Connected Services/PreguntaService/PreguntaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProyectoPregunta.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProyectoPregunta.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pregunta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDAlumno" type="xs:int" />
      <xs:element minOccurs="0" name="IDCurso" type="xs:int" />
      <xs:element minOccurs="0" name="IDPregunta" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="respuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pregunta" nillable="true" type="tns:Pregunta" />
  <xs:complexType name="PreguntaExistente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoError" type="xs:int" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreguntaExistente" nillable="true" type="tns:PreguntaExistente" />
  <xs:complexType name="Curso">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCurso" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tema" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Curso" nillable="true" type="tns:Curso" />
  <xs:complexType name="ArrayOfCurso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Curso" nillable="true" type="tns:Curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurso" nillable="true" type="tns:ArrayOfCurso" />
</xs:schema>