Connected Services/CreditoService/CreditoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Credito">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodCredito" type="xs:int" />
      <xs:element minOccurs="0" name="CodCurso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIng" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credito" nillable="true" type="tns:Credito" />
  <xs:complexType name="ArrayOfCredito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Credito" nillable="true" type="tns:Credito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCredito" nillable="true" type="tns:ArrayOfCredito" />
</xs:schema>