Connected Services/CreditoService/CreditoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://creditosservice.azurewebsites.net/CreditoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
  <xs:element name="CrearCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="creditoACrear" nillable="true" type="q1:Credito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="CrearCreditoResult" nillable="true" type="q2:Credito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCreditoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCreditos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCreditosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ListarCreditosResult" nillable="true" type="q3:ArrayOfCredito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>